/* ============================================
   CV PAGE STYLES - Scoped to CV page only
   ============================================ */

/* Scope all CV styles under .cv-page class */
.cv-page * {
  box-sizing: border-box;
}

.cv-page {
  color: aliceblue;
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue';
  background-color: #2c0361;
  max-width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  border: 4px solid rgb(0, 181, 15);
  grid-template-columns: repeat(4, 1fr);
  border-radius: 20px;
  overflow: hidden;
}

.cv-page a {
  text-decoration: none;
}

/* Left side of CV */

.cv-page .h2-name {
  color: rgb(243, 207, 3);
  text-align: center;
  margin-top: 5px;
  font-size: 1.5rem;
}

.cv-page .div-left {
  background-color: rgb(0, 0, 0);
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  padding: 10px 5px;
}

.cv-page .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 10% 20%;
  margin: none;
  box-shadow: 0 0 20px rgb(255, 254, 254);
  border: 3px solid #ffb005;
  margin-right: 0px;
  transition: 0.3s ease-in-out;
}

.cv-page .profile-img:hover {
  box-shadow: 0 0 30px rgba(21, 255, 0, 0.774);
}

.cv-page .skills,
.cv-page .contacts {
  width: 100%;
  border-radius: 5px;
}

.cv-page .skills h3,
.cv-page .contacts h3 {
  padding: 10px 0;
  background-color: rgb(0, 52, 136);
  text-align: center;
  color: #f7f7f7;
  font-size: 1.5rem;
}

.cv-page .skills ul {
  padding-left: 18px;
}

.cv-page .skills li {
  margin-bottom: 5px;
  color: rgb(243, 207, 3);
}

.cv-page .skills p {
  font-size: 1.1rem;
  font-weight: 600;
}

.cv-page .contacts svg {
  margin-right: 7px;
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}
.cv-page .contacts p {
  display: inline;
  font-weight: 600;
  transition: 0.5s;
}

.cv-page .contacts p:hover {
  color: #04ff00;
}

.cv-page .contact-divs {
  transition: 0.5s;
  margin-bottom: 15px;
}

.cv-page .contact-divs:hover {
  transform: scale(1.05);
}

.cv-page .contact-divs a {
  text-decoration: none;
}

.cv-page .download-cv {
  margin-top: 2rem;
}

.cv-page #download-btn {
  color: #000000;
  font-weight: 700;
  background-color: #fff01b;
  margin-inline: auto;
  display: block;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

.cv-page #download-btn:hover {
  background-color: #ff8000;
}

/* Right side of CV */

.cv-page .div-right {
  background-color: rgb(28, 26, 169);
  width: 100%;
  height: 100%;
  grid-column: 2 / 5;
  padding: 0 7px;
}

.cv-page .div-right h2 {
  color: #ff8800;
  background-color: rgb(0, 85, 222);
  padding: 5px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.cv-page .summary p {
  font-weight: 600;
  text-align: center;
}

/* Work Experience */

.cv-page .section2-header {
  border-bottom: #000000 3px solid;
}

.cv-page .section2-header h3 {
  font-size: 3rem;
  text-shadow:
    1px 1px 2px rgb(255, 208, 0),
    0 0 25px rgb(147, 96, 0),
    0 0 5px rgb(0, 0, 0);
}

.cv-page .section2-header p {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.cv-page .section2-header span {
  color: #1eff00;
}

.jobs {
  border-bottom: #000000 solid 5px;
}

.cv-page .work-history span {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.cv-page .header-jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cv-page .header-jobs h3 {
  font-size: 1.4rem;
  text-shadow:
    1px 1px 2px rgb(81, 255, 0),
    0 0 10px rgb(43, 0, 255),
    0 0 5px rgb(0, 244, 8);
}

.cv-page .job-position {
  font-weight: 800;
  margin-left: 20px;
  text-shadow:
    1px 1px 2px rgb(0, 0, 0),
    0 0 10px rgb(43, 0, 255),
    0 0 5px rgb(0, 30, 255);
  color: #ff9500;
}

.cv-page .section2-dates {
  color: #ffaa00;
  font-weight: 800;
}

.cv-page .main-tasks {
  font-size: 1rem;
  font-weight: 700;
  text-shadow:
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(239, 247, 0),
    0 0 2px rgb(174, 255, 0);
}

.cv-page .content-jobs ul {
  font-size: 1rem;
  font-weight: 500;
}

.cv-page .content-jobs li {
  margin-bottom: 15px;
  text-shadow:
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(170, 0, 255),
    0 0 2px rgb(0, 30, 255);
}

.cv-page .contact-div {
  margin-bottom: 30px;
}

.content-jobs svg {
  margin-right: 10px;
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}

.cv-page .content-jobs span {
  margin-right: 20px;
  font-size: 1rem;
}

.cv-page .contat-info {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow:
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(239, 247, 0),
    0 0 2px rgb(174, 255, 0);
}

.cv-page .contact-div {
  display: flex;
}

.cv-page .contact-link,
.cv-page .high-school {
  color: rgb(255, 251, 0);
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-size: 0.8rem;
}

.cv-page .contact-link:hover,
.cv-page .high-school:hover {
  color: rgb(255, 145, 0);
}

/* Education / Certifications Section */

.cv-page .education h3 {
  font-size: 1.4rem;
  text-shadow:
    1px 1px 2px rgb(81, 255, 0),
    0 0 10px rgb(43, 0, 255),
    0 0 5px rgb(0, 244, 8);
}

.cv-page .education a {
  font-size: initial;
}

.cv-page .Certifications svg {
  display: inline;
  margin-bottom: -15px;
  margin-right: 20px;
}

.cv-page .Certifications h4 {
  display: inline;
  font-size: 1.6rem;
  color: #ffe600;
  text-shadow: 0 0 3px #000;
}

.cv-page .ul-skills li {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffe600;
  text-shadow:
    0 0 3px #000000,
    0 0 15px rgb(255, 13, 0);
}

.cv-page .ul-skills1 {
  margin-bottom: 30px;
}

.cv-page .ul-skills1 a {
  color: #d9ff00;
  text-decoration: none;
  text-shadow:
    0 0 3px #000000,
    0 0 15px rgb(0, 255, 4);
  transition: 0.3s ease-in-out;
}

.cv-page .ul-skills1 a:hover {
  color: #ffbf00;
  margin-left: 10px;
}

.cv-page .link-all-certifications {
  font-size: 1rem;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
