body {
  background: linear-gradient(120deg, #000000, #717171);
}

.home-title {
  --text-effect-chars: 10;
  --text-effect-glow-color: var(--accent-primary);
}

.profile-pic {
  border-radius: 50%;
}

.img-container {
  display: inline-flex;
  --border-effect-radius: 50%;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.description-container p {
  font-family: sans-serif;
}
