:root {
  --golden: #ffea00;
}

body {
  background: linear-gradient(120deg, #000000, #717171);
}

.content-wrapper {
  display: flex;
  gap: 2rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-description {
  font-family: sans-serif;
}

.about-me-container {
  text-align: left;
}

.about-me {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--golden);
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5;

  & li {
    margin-bottom: 1rem;
    padding-left: 15px;
    font-weight: 600;
  }
}

p .icons {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
  vertical-align: middle;
  margin-right: 0.5rem;
}

.icons {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.87);
  vertical-align: middle;
  margin-right: 1rem;
}

img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center 20%;
}

.img-container {
  display: inline-flex;
  --border-effect-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(0, 0, 0);
}

.profile-pic {
  border-radius: 50%;
}

.download-cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-name {
  --text-effect-chars: 13; /* Typewriter */
  font-weight: bold;
  margin-bottom: 10px;
}

.download-cv-button {
  display: block;
  margin-bottom: 1rem;
}

.cv-link {
  font-weight: bold;
  color: var(--golden);
}
