:root {
  --golden: #ffea00;
}

body {
  background: linear-gradient(120deg, #000000, #717171);
}

.home-title {
  --text-effect-chars: 10;
  --text-effect-glow-color: var(--accent-primary);
}

.profile-pic {
  border-radius: 50%;
}

.img-container {
  display: inline-flex;
  --border-effect-radius: 50%;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.description-container p {
  font-family: sans-serif;
}

.my-name {
  --text-effect-chars: 13; /* Typewriter */
  font-weight: bold;
}

.download-cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-cv-button {
  display: block;
  margin-bottom: 1rem;
}

.cv-link {
  font-weight: bold;
  color: var(--golden);
}
