/**
 * Border Effects - Index
 * Import all effect styles
 */
@import './rainbow.css';
@import './light-trail.css';
@import './pulse.css';
@import './gradient.css';
@import './shimmer.css';
@import './dots.css';
@import './dual-spin.css';
